* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial , sans-serif
}

/* HEADER */
.header {
  background: #707070;
  color: white;
  height: 450px;
  text-align: center;
  margin-bottom: 5em;
}

.skewd-bg {
  transform: skew(0deg, 6deg);
  margin-top: -100px;
}

.container {
  transform: skew(0deg, -6deg);
}

h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

.initial-text-div{
  width: fit-content;
  margin: auto;
  padding-top: 170px;

  span {
    font-size: 20px;
  }

  p {
    font-size: 14px;
    margin-bottom: 50px;
  }
}

.navbar {
  
  ul {
    list-style: none;
    display: flex;
    width: fit-content;
    margin: auto;
  }

  li {
    margin: 0 20px;
    text-align: center;

    a {
      text-decoration: none;
      color: #888888;
      background: #fff ;
      display: block;
      padding: 11px;
      width: 160px;
      border-radius: 5px;
      box-shadow: 1px 1px 6px #00000029;
      font-size: 14px;
    }
  }
}

main {
  max-width: 930px;
  margin: 0 auto;
}

/* FIRST SECTION */

.f-section {
  display: flex;
  color: #888888;
  margin-bottom: 80px;

  .div1 {
    width: 56%;
    margin-right: 60px;
    
    h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      

      &:first-of-type{
        margin-bottom: 20px;
      }
    }
  }

  .div2 {
    width: 30%;
    
    label {
      display: block;
      font-size: 12px;
    }

    input {
      width: 340px;
      height: 30px;
      margin: 12px 0;
      outline: none;
    }

    div {
      margin-top: 20px;

      label {
        display: inline-flex;
        margin-right: 40px;
      }

      input {
        width:auto;
        height: auto;
        margin: auto;
        margin-right: 5px;
      }
    }

    button {
      width: 340px;
      height: 39px;
      color: #888888;
      background: #fff;
      border: 1px solid #707070;
      margin-top: 23px;
    }
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

